@font-face {
  font-family: "Outfit";
  src: url(./Outfit-VariableFont_wght.ttf) format("truetype");
}

.layout-container {
  margin: 1vh 6vw;
  color: white;
}

html {
  background-color: #302f46;
  font-family: "Outfit" !important;
}
