@font-face {
  font-family: "Outfit";
  src: url(./Outfit-VariableFont_wght.ttf) format("truetype-variations");
}

.navbar-container {
  padding: 3vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: "Outfit";
  font-size: 26px;
  color: white;
  margin-bottom: 3vh;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: grid;
  gap: 3vw;
  grid-auto-flow: column;
  align-items: center;
}

button {
  width: 125px;
  border-radius: 45px;
  background-color: #9896f6;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  border: none !important;
}
