.navbar-container {
  padding: 3vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 26px;
  margin-bottom: 3vh;
  height: 10.75vh;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: grid;
  gap: 3vw;
  grid-auto-flow: column;
  align-items: center;
}

.navbar-right > *:hover {
  color: #9896f6;
  transform: scale(1.1);
}

.resume-button {
  width: 130px;
  border-radius: 45px;
  background-color: #9896f6 !important;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
  border: none !important;
}

.resume-button:hover {
  color: white;
}
