.project-layout {
  display: block;
  padding-top: 3vh;
}

.project-title {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 5vh;
}

html {
  background-color: #302f46;
  font-family: "Outfit" !important;
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
  overflow-x: hidden;
}

h2 {
  font-size: 6.5vw !important;
  font-weight: 800 !important;
  line-height: 7vw !important;
}

.project-description {
  font-size: 1.5vw !important;
  font-weight: 300 !important;
  line-height: 2vw !important;
  width: 27.5vw !important;
  height: 40vh !important;
  margin: 1vh 0.5vw !important;
  text-align: flex-end;
}

.back-arrow {
  margin-top: 4vh;
  font-size: 4vw;
  align-self: center;
  color: white;
}

.back-arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.title-right {
  white-space: nowrap;
  text-overflow: ellipsis !important;
}

.new-stack {
  display: flex;
  justify-content: space-between;
}

.project-media {
  position: relative;
  width: 27.5vw;
  height: 40vh;
  margin: 1vh 0.5vw;
  border-radius: 5% !important;
}

.project-media:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(1.05);
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.4; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fullscreen-image img,
video {
  width: 90%;
  height: 90%;
  object-fit: contain;
  margin-right: auto;
  margin-left: auto;
}
